@media all
{
	.widget.theme_page_index
	{
		text-align: right;
	}

		.is_mobile .widget.theme_page_index
		{
			display: none;
			position: fixed;
			right: 0;
			top: 0;
		}

		.widget.theme_page_index .fa-bars
		{
			display: none;
		}

			.is_mobile .widget.theme_page_index .fa-bars
			{
				display: block;
				font-size: 1.5em;
				margin: .4em;
			}

		.widget.theme_page_index ul
		{
			list-style: none;
			text-align: left;
		}

			.is_mobile .widget.theme_page_index > div > ul
			{
				display: none;
			}

				.is_mobile .widget.theme_page_index:hover > div > ul
				{
					background: inherit;
					border-radius: .5em;
					box-shadow: 0 0 1em rgba(0, 0, 0, .3);
					display: block;
					padding: .5em 1em;
				}

			.widget.theme_page_index ul li
			{
				font-weight: bold;
				margin-bottom: .5em;
			}

				.widget.theme_page_index ul li a
				{
					display: inline-block;
					text-indent: 0;
					transition: all 1s ease;
				}

					.widget.theme_page_index ul li a.toc-already-read
					{
						color: #ccc;
					}

					.widget.theme_page_index ul li a.toc-reading
					{
						color: inherit;
						text-indent: .5em;
					}

				.widget.theme_page_index ul ul
				{
					font-size: .9em;
				}

					.widget.theme_page_index ul ul li
					{
						font-weight: normal;
					}
}