@media all
{
	#overlay_history
	{
		background: rgba(0, 0, 0, .5);
		bottom: 0;
		color: #ccc;
		display: none;
		font-size: 4em;
		left: 0;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 1002;
	}

	#overlay_splash
	{
		background: #fff;
		border-bottom: .05em solid #ccc;
		bottom: 0;
		color: #ccc;
		left: 0;
		position: fixed;
		right: 0;
		text-align: center;
		top: 0;
		z-index: 1000;
	}

		#overlay_history i, #overlay_splash > div
		{
			display: inline-block;
			margin-top: 45vh;
			transform: translateY(-50%);
		}

		.is_desktop #overlay_splash #site_logo > div
		{
			font-size: 2em;
		}

		#overlay_splash i
		{
			font-size: 4em;
		}

		#overlay_splash > i
		{
			bottom: 1em;
			left: 0;
			position: absolute;
			right: 0;
		}
}