@media all
{
	#accept_cookies
	{
		background: #fff;
		background: rgba(255, 255, 255, .8);
		border-top: .1em solid #ccc;
		bottom: 0;
		display: none;
		font-size: 1.4em;
		left: 0;
		line-height: 1.5;
		padding: 1.5em;
		position: fixed;
		right: 0;
		z-index: 1002;
	}

		#accept_cookies div
		{
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
		}

			#accept_cookies p
			{
				-webkit-box-flex: 1 0 auto;
				-webkit-flex: 1 0 auto;
				-ms-flex: 1 0 auto;
				flex: 1 0 auto;
			}

				#accept_cookies .form_button .button
				{
					margin-bottom: 0;
				}

	#accepted_cookies
	{
		background: #000;
		border-radius: .3em;
		bottom: .2em;
		color: #fff;
		display: none;
		opacity: .2;
		padding: .4em .8em;
		position: fixed;
		left: .2em;
		z-index: 1002;
	}

		#accepted_cookies:hover
		{
			opacity: .7;
		}
}

@media print
{
	#accept_cookies, #accepted_cookies
	{
		display: none;
	}
}