@media all
{
	#scroll_to_top
	{
		background: #000;
		border-radius: .3em;
		bottom: .2em;
		color: #fff;
		display: none;
		font-size: 2em;
		opacity: .2;
		padding: .4em .8em;
		position: fixed;
		right: .2em;
		z-index: 1002;
	}

		#scroll_to_top:hover
		{
			opacity: .7;
		}

		#scroll_to_top span
		{
			margin-left: .5em;
		}
}

@media print
{
	#scroll_to_top
	{
		display: none !important;
	}
}