@media all
{
	#site_locked
	{
		background: #000;
		border-radius: .3em;
		color: #fff;
		font-size: 2em;
		opacity: .2;
		padding: .4em .8em;
		position: fixed;
		right: .2em;
		top: 3em;
		z-index: 1002;
	}

		#site_locked:hover
		{
			opacity: .7;
		}

		.is_login_page #site_locked
		{
			display: none;
		}
}

@media print
{
	#site_locked
	{
		display: none;
	}
}